<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-flush mt-3">
        <li *ngFor="let task of taskList; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
          <div class=" d-flex align-items-center">
            @if (task.completed) {
             <input type="checkbox" [(ngModel)]="task.completed" (change)="onTaskCompletion(task)" class="form-check-input  aling-items-center me-2 ">
            }@else {
              <input  type="checkbox" [(ngModel)]="task.completed!" (change)="onTaskCompletion(task)" class="form-check-input  aling-items-center me-2 ">
            }
            <span class="text-primary aling-items-center me-2">{{ i + 1 }}.</span>
            <span [ngClass]="{'text-decoration-line-through': task.completed}">{{ task.name }}</span>
          </div>
          <button class="btn btn-sm btn-danger" (click)="onDeleteTask(task.id)">x
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>


