<div id="header" class="d-flex justify-content-center align-items-center">
  <h1 class="mt-3">Lista de tareas</h1>
</div>

<div class="container mt-5">
  <div class="row">
    <div id="box1" class="col mt-3">
      <h2 class="mt-3">Total</h2>
      <task-show
      [taskList]="taskList"
      (onDelete)="tasklistService.onDeleteTaskById($event)">
     </task-show>

      <task-add (onNewTask)="tasklistService.onNewTask($event)"></task-add>
    </div>
    <div id="box2" class="col">
      <h2 class="text-light mt-3">Hechas</h2>
      <div class="container">
          <task-show
          [taskList]="taskDone"
          (onDelete)="tasklistService.onDeleteTaskById($event)"
          >
          </task-show>
      </div>
    </div>
    <div id="box3" class="col">

      <h2 class="mt-3">No realizadas</h2>
      <task-show
      [taskList]="taskDoing"
      (onDelete)="tasklistService.onDeleteTaskById($event)"
      >
      </task-show>
    </div>
  </div>
</div>
